<div class='container' ng-controller='TasksController' style='padding-top: 25px'>
	<form class='form-inline'>
		<div class='form-group'>
			<label>Task:</label>
			<input class='form-control' 
				ng-model='formData.taskContent' 
				type='text'
				required='true'>
		</div>
		<button class='btn btn-default' 
			ng-click='pageFns.insertTask()'>Create Task</button>
	</form>
	
	<div style='padding-top: 25px'>
		<table class="table table-striped table-hover table-bordered">
			<tr>
				<th>#</th>
				<th>Task</th>
				<th></th>
			</tr>
			<tr ng-repeat="task in pageData.tasks">
				<th>1</th>
				<th>{{task.TaskContent}}</th>
				<th><button class='btn btn-default'>Delete</button></th>
			</tr>
		</table>
	</div>
</div>