<form class='form-inline' style='margin-bottom: 15px;'>
  <div class='form-group'>
    <label>Add New Task For <span style='color: #2aabd2;'>{{ listName }}</span>:</label>
    <input class='form-control input-sm'
           type='text'
           ng-model='taskContent'
           required='true' >
    <button class='btn btn-sm btn-success'
            ng-click='directiveFns.createTaskOnList();'>
      <span class='glyphicon glyphicon-plus'></span>
    </button>
    <button class='btn btn-sm btn-primary'
            ng-click='list.showAddTaskForm = false'
            type='button'>
      <span class='glyphicon glyphicon-arrow-left'></span>
    </button>
  </div>
</form>
