<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css'/>		
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-theme.css'/>
    <title>@ViewBag.Title</title>
</head>
<body>
	@RenderBody()
</body>
</html>

