<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />		
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-theme.css' />
	<link rel='stylesheet' href='/Content/StarterTemplate.css' />
    <title>@ViewBag.Title</title>
</head>
<body>
	@Html.Partial("Navbar")

	<div>
		@RenderBody()
	</div>

	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>

