@using TaskHistory.Api.Tasks

@model IEnumerable<ITask>

<head>
	<link rel="stylesheet" href="/bower_components/boostrap/dist/css/bootstrap.css"/>		
	<link rel="stylesheet" href="/bower_components/boostrap/dist/css/bootstrap-theme.css"/>
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/Scripts/Tasks/index.js"></script>

	<title>Tasks</title>
</head>
<body>
<!-- TODO: https://github.com/rhsu/TaskHistory/issues/74 -->
<div class="container">
	@{ Html.RenderPartial("InsertTask"); }
</div>

@if (Model.Count() > 0)
{
	<div class="container">
		<table class="table table-striped table-hover table-bordered">
			<tr>
				<th style="display: none;"><input id="task-checkbox-master" type="checkbox" /></th>
				<th>#</th>
				<th>Task</th>
			</tr>

			@for (int i = 0; i < Model.Count(); i++)
			{
			<tr>
				<td style="display: none;">
					<input class="task-checkbox" type="checkbox" />
				</td>
				<td>@(i+1)</td>	
				<td>@Model.ElementAt(i).Content</td>
			</tr>
			}

		</table>
	</div>

}
else 
{
	<div style="padding-top: 15px; padding-left: 2.5%">You have no tasks</div>
}
</body>