@using(Html.BeginForm("CreateTask", "Tasks", FormMethod.Post, new { @class = "form-inline", 
	@style = "padding-top: 25px; padding-bottom: 25px; padding-left: 2.5%"}))
{
	<div class="form-group">
		@Html.Label("Content: ")
		<!-- TODO https://github.com/rhsu/TaskHistory/issues/62-->
		@Html.TextBox("content", null, new { @class = "form-control", @required = "required"})
	</div>

	<button type="submit" class="btn btn-default">Insert</button>
}