<div class='container' style='padding-top: 25px'>
	<form class='form-inline'>
		<div class='form-group'>
			<label>Name:</label>
			<input class='form-control' 
				type='text'
				required='true'>
		</div>
		<div class='form-group'>
			<label>Value:</label>
			<input class='form-control'
					type='text'>
		</div>
		<button class='btn btn-success'>
			<span class='glyphicon glyphicon-plus'></span>
		</button>
	</form>

	<div style='padding-top: 25px'></div>
	
	<table class="table table-striped table-hover table-bordered">
		<tr>
			<th>Name</th>
			<th>Value</th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<td>Some Name</td>			
			<td>Some Value</td>
			<td>
				<button class='btn btn-info'>
					<span class='glyphicon glyphicon-pencil'></span>
				</button>
			</td>			
			<td>
				<button class='btn btn-danger'>
					<span class='glyphicon glyphicon-trash'></span>
				</button>
			</td>
		</tr>
	</table>

</div>