<div class='container app-content' ng-controller='DefaultUserController'>
	Does Admin User exist?
	<button>Create</button>

	<div>
		{{ pageState.defaultUserExists }}
	</div>
</div>

<div class='container app-content' ng-controller='FeatureFlagsController'>
	<form class='form-inline'>
		<div class='form-group'>
			<label>Name:</label>
			<input class='form-control'
                   ng-model='formData.name'
                   type='text'
                   required='true'>
		</div>
		<div class='form-group'>
			<label>Value:</label>
			<input class='form-control'
                   ng-model='formData.value'
                   type='text'>
		</div>
		<button class='btn btn-success'
                ng-click='pageFns.createFlag()'>
			<span class='glyphicon glyphicon-plus'></span>
		</button>
	</form>

	<div style='padding-top: 25px'></div>
		<div>AppDataFlagsLength: {{ appData.flags }} </div>

    <div ng-hide='appData.flags.length'>There are no flags.</div>
		<table ng-show='appData.flags.length'
	         class="table table-striped table-hover table-bordered">
      <tr>
          <th>#</th>
          <th>Id</th>
          <th>Name</th>
          <th>Value</th>
          <th></th>
     </tr>
			<tr ng-repeat='flag in appData.flags'>
				<td>{{ $index + 1 }}</td>
	   		<td>{{flag.id}}</td>
				<td>{{flag.name}}</td>
				<td>{{flag.value}}</td>
				<td> <!-- buttons icons here -->

					<!-- Pencil Icon -->
					<button class='btn btn-default'
						ng-show='false'
						ng-click=''>
						<span class='glyphicon glyphicon-pencil'></span>
					</button>

					<!-- Delete X icon-->
					<button class='btn btn-danger'
						ng-show='true'
						ng-click='pageFns.delete(flag)'>
						<span class='glyphicon glyphicon-trash'></span>
					</button>

					<!-- Back Icon-->
					<button class='btn btn-primary'
						ng-show='false'
						ng-click=''>
						<span class='glyphicon glyphicon-arrow-left'></span>
					</button>

					<!-- Undo-->
					<button class='btn btn-primary'
						ng-show='false'
						ng-click=''>Undo</button>

					<!-- Submit Edit (OK Icon)-->
					<button class='btn btn-success'
							ng-show='false'
							ng-click=''>
						<span class='glyphicon glyphicon-ok'></span>
					</button>

				</td>
			</tr>
		</table>
</div>
