<html>
	<head>
		<link rel='stylesheet' href='/Content/bootstrap.css'/>		
		<link rel='stylesheet' href='/Content/bootstrap-theme.css'/>

		<title>Home - Task History</title>
	</head>
	<body>
		@{ Html.RenderPartial("RegisterUser"); }
		<div>User Login</div>
		<div>
			<a href='/Tasks/'>Tasks Page</a>
		</div>
	</body>
</html>

