<div class='container app-content'
		 ng-controller='TaskListsController'>
	<div ng-if='featureEnabled.list'>
		<form class='form-inline'>
			<div class='form-group'>
				<!-- TODO Something else besides &nbsp please-->
				<label>New List:</label>&nbsp;
				<input class='form-control'
							 ng-model='formData.name'
							 type='text'>
			</div>
			<button class='btn btn-success'
						  ng-click='pageFns.createTaskList()'>
				<span class='glyphicon glyphicon-plus'></span>
			</button>
		</form>

		<!-- Rendering Tasks with Lists Here-->
		<!-- TODO refactor to directive -->
		<div>{{ pageData.taskListWithTasks }}</div>
		<div class='container app-content'>
				<ul>
					<li ng-repeat='list in pageData.taskListWithTasks'>
						<label>{{ list.listName }}</label>
						<div ng-hide="list.tasks.length">list contains no tasks.</div>
					</li>
				</ul>
				<!--ul>
						<li>
								<label>List 1</label>
								<div>
										<table class="table table-striped table-hover table-bordered">
												<tr>
														<th>#</th>
														<th>Key</th>
												</tr>
												<tr>
														<td>1</td>
														<td>Foo</td>
												</tr>
												<tr>
														<td>2</td>
														<td>Bar</td>
												</tr>
										</table>
								</div>
						</li>
						<li><label>List 1</label></li>
						<li><label>List 1</label></li>
				</ul-->
		</div>
		<!-- end render -->
	</div>
</div>

<div class='container app-content' ng-controller='TasksController'>
	<form class='form-inline'>
		<div class='form-group'>
			<label>New Task:</label>
			<input class='form-control'
						 ng-model='formData.taskContent'
						 type='text'
						 required='true'>
		</div>
		<button class='btn btn-success'
			ng-click='pageFns.insertTask()'>
			<span class='glyphicon glyphicon-plus'></span>
		</button>
	</form>

	<div style='padding-top: 25px'>
		<button class='btn btn-info'
				ng-click='pageFns.refreshTasks();'>
			<span class='glyphicon glyphicon-refresh'></span>
		</button>
	</div>

	<div style='padding-top: 25px'>
		<div ng-hide="pageData.tasks.length">There are no tasks.</div>
		<table class="table table-striped table-hover table-bordered"
				ng-show="pageData.tasks.length">
			<tr>
				<th>
					<input type='checkbox' />
				</th>
				<th>#</th>
				<th>Task</th>
				<th></th>
			</tr>
			<tr ng-repeat="task in pageData.tasks">
				<td><input type='checkbox' /></td>
				<td>{{ $index+1 }}</td>
				<td>
					<!-- normal display mode -->
					<div ng-show='pageFns.displayReadonlyMode(task)'>
						{{task.taskContent}}
					</div>

					<!-- deleted mode -->
					<div style='text-decoration: line-through'
						 ng-show='task.editorState === "deleted"'>
						{{task.taskContent}}
					</div>

					<!-- editing mode -->
					<div ng-show='task.editorState === "editing"'>
						<input ng-model='task.editorTaskContent'
							class='form-control'
							type='text' />
					</div>
				</td>
				<td>
					<!-- Pencil Icon -->
					<button class='btn btn-default'
						ng-show='task.editorState === "initial"'
						ng-click='task.setEditingState()'>
						<span class='glyphicon glyphicon-pencil'></span>
					</button>

					<!-- Delete X icon-->
					<button class='btn btn-danger'
						ng-show='task.editorState === "initial"'
						ng-click='task.setConfirmDeleteState()'>
						<span class='glyphicon glyphicon-trash'></span>
					</button>

					<!-- Back Icon-->
					<button class='btn btn-primary'
						ng-show='pageFns.displayBackButton(task)'
						ng-click='task.setInitialState()'>
						<span class='glyphicon glyphicon-arrow-left'></span>
					</button>

					<!-- Are you sure?-->
					<button class='btn btn-danger'
						ng-show='task.editorState === "confirmDelete"'
						ng-click='pageFns.deleteTask(task)'>Are you sure?</button>

					<!-- Undo-->
					<button class='btn btn-primary'
						ng-show='task.editorState ==="deleted"'
						ng-click='pageFns.undoDeleteTask(task)'>Undo</button>

					<!-- Submit Edit (OK Icon)-->
					<button class='btn btn-success'
							ng-show='task.editorState ==="editing"'
							ng-click='pageFns.updateTaskContent(task)'>
						<span class='glyphicon glyphicon-ok'></span>
					</button>
				</td>
			</tr>
		</table>
	</div>
</div>
