<div class='container app-content'
		 ng-controller='TaskListsController'>
	<div ng-if='featureEnabled.list'>
		<form class='form-inline'>
			<div class='form-group'>
				<!-- TODO Something else besides &nbsp please-->
				<label>New List:</label>&nbsp;
				<input class='form-control'
							 ng-model='formData.name'
							 type='text'>
			</div>
			<button class='btn btn-success'
						  ng-click='pageFns.createTaskList()'>
				<span class='glyphicon glyphicon-plus'></span>
			</button>
		</form>

		<!-- Rendering Tasks with Lists Here-->
		<div>{{ pageData.taskListWithTasks }}</div>
		<div class='container app-content'>
				<ul>
					<li ng-repeat='list in pageData.taskListWithTasks'>

						<span class='btn-group'>
							<button class='btn btn-xs btn-default'>
								<span class='glyphicon glyphicon-minus'></span>
							</button>
							<button class='btn btn-xs btn-success'>
								<span class='glyphicon glyphicon-plus'></span>
							</button>
							<button class='btn btn-xs btn-danger'>
								<span class='glyphicon glyphicon-trash'></span>
							</button>
						</span>

						<label>{{ list.listName }}</label>

						<div class='well'
								 ng-hide="list.tasks.length">list contains no tasks.</div>
						<task-table tasks='list.tasks'></task-table>
					</li>
				</ul>
		</div>
		<!-- end render -->
	</div>
</div>

<div class='container app-content' ng-controller='TasksController'>
	<form class='form-inline'>
		<div class='form-group'>
			<label>New Task:</label>
			<input class='form-control'
						 ng-model='formData.taskContent'
						 type='text'
						 required='true'>
		</div>
		<button class='btn btn-success'
			ng-click='pageFns.insertTask()'>
			<span class='glyphicon glyphicon-plus'></span>
		</button>
	</form>

	<div class='app-content'>
		<button class='btn btn-info'
				ng-click='pageFns.refreshTasks();'>
			<span class='glyphicon glyphicon-refresh'></span>
		</button>
	</div>

	<div class='app-content'>
		<task-table tasks='pageData.tasks'></task-table>
	</div>

</div>
