<!DOCTYPE html>
<html ng-app="app">
	<head></head>

	<body ng-controller="AppController">
		<div>
			{{ test }}
		</div>

		<ul>
			<li><a href="/#/routeOne">Route One</a></li>
			<li><a href="/#/routeTwo">Route Two</a></li>			
			<li><a href="/#/routeThree">Route Three</a></li>
		</ul>

		<ng-view />

		<script src='/bower_components/angular/angular.js'></script>
		<script src='/bower_components/angular-route/angular-route.js'></script>
		@Scripts.Render("~/bundles/App")
	</body>
</html>