<!DOCTYPE html>
<html>
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />		
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-theme.css' />
<head>
    <title>Index</title>
</head>
<body>
	<div>It Worked</div>
</body>
</html>