<div class='container' style='padding-top: 10px' ng-controller='RegisterController'>
	<form name='loginForm'>
		<div class='form-group'>
			<label>Username</label>
			<input class='form-control' 
				ng-model='formData.username'
				name='user'
				type='text'
				required=true
				placeholder='Enter Username'/>
		</div>
		<div class='form-group'>
			<label>Password</label>
			<input class='form-control' 
				ng-model='formData.password' 
				type='password' 
				required=true
				placeholder='Enter Password'/ >
		</div>
		<div class='form-group'>
			<label>First Name</label>
			<input class='form-control' 
				ng-model='formData.firstName' 
				type='text)' 
				required=true
				placeholder='Enter First Name'/ >
		</div>
		<div class='form-group'>
			<label>Last Name</label>
			<input class='form-control' 
				ng-model='formData.lastName' 
				type='text' 
				required=true
				placeholder='Enter Last Name'/ >
		</div>
		<div class='form-group'>
			<label>Email</label>
			<input class='form-control' 
				ng-model='formData.email' 
				type='email' 
				required=true
				placeholder='Enter Email'/ >
		</div>
		<div class='form-group'>
			<button class='btn btn-default' ng-click='pageFns.register()'>Register</button>
		</div>
	</form>

	<div><a href='/Home/#/'>Login</a></div>
</div>