@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding-top: 20px">
	Terminal Here
	<form>
		<div>Response Text Here</div>
		<input type="text" />
		<button>Submit</button>
	</form>
</div>